.web {
	display: flex;
	flex: 1;
	align-items: center;
}
.web-options {
	font-size: 30px;
	margin-right: 18px;
	font-weight: 700;
}
.web-options a {
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
}
.option-icon {
	display: flex;
	align-items: center;
	margin-right: 4px;
}
.web-options:last-child {
	margin-right: 0px;
}
