.social-contact-div {
	display: flex;
}
.social-icon-div {
	padding: 8px;
	cursor: pointer;
	margin: 6px;
}
.social-icon {
	height: 50px;
}
@media only screen and (max-width: 720px) {
	.social-icon {
		height: 30px;
	}
}
