.contact {
	height: 80vh;
}
.c-wrapper {
	padding: 20px;
	display: flex;
}
.c-left {
	flex: 1;
}

.c-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.c-title {
	font-size: 60px;
	width: 80%;
}

.c-info-item {
	display: flex;
	align-items: center;
	margin: 40px 0px;
	font-weight: 300;
	width: 70%;
}

.c-icon {
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

.c-desc {
	font-weight: 200;
}

form {
	margin-top: 20px;
	margin-left: 20px;
}

input {
	width: 60%;
	height: 30px;
	border: none;
	border-bottom: 1px solid black;
	margin: 10px 0px;
	font-size: 14px;
	padding-left: 10px;
	margin-left: 20px;
}

textarea {
	width: 100%;
	margin: 10px 0px;
	font-size: 14px;
	padding-left: 10px;
	margin-left: 20px;
}

button {
	background: #4ac29a; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#bdfff3,
		#4ac29a
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#bdfff3,
		#4ac29a
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	border: none;
	padding: 15px 20px;
	color: black;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	margin-left: 20px;
	border-radius: 4px;
}

@media screen and (max-width: 480px) {
	.c-wrapper {
		flex-direction: column;
		padding: 0px 50px;
	}

	.c-title {
		font-size: 30px;
	}

	.c-info-item {
		margin: 20px 0px;
		width: 100%;
	}

	.c-desc {
		display: none;
	}

	form {
		margin-top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	input {
		width: 35%;
		height: 40px;
		margin: 10px;
		margin-left: 0;
	}

	button {
		margin-top: 10px;
	}
}
