.about {
	padding-bottom: 48px;
}
.about-top {
	display: flex;
	justify-content: center;
	align-items: center;
}
.picture {
	height: 400px;
}
.about-info {
	font-size: 40px;
	font-weight: 600;
}
.info-name {
	color: blue;
	font-size: 32px;
}
.contact-resume {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.download {
	background-color: aquamarine;
	padding: 12px 18px;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}
.download a {
	text-decoration: none;
	color: black;
}
.section-title {
	font-size: 34px;
	font-weight: 700;
}
.i-title {
	height: 50px;
	overflow: hidden;
}
.title-item {
	height: 50px;
	font-size: 40px;
	font-weight: bold;
	color: royalblue;
	display: flex;
	align-items: center;
}
.i-desc {
	font-size: 16px;
	width: 70%;
	word-wrap: break-word;
}
.title-wrapper {
	height: 100%;
	animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
	75% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(-100px);
	}
}

@media only screen and (max-width: 720px) {
	.about-top {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.picture {
		height: 280px;
	}
	.about-info {
		font-size: 20px;
	}
	.info-name {
		font-size: 26px;
	}
	.contact-resume {
		display: flex;
	}
	.download {
		font-size: 28px;
		padding: 6px 10px;
	}
	.section-title {
		font-size: 20px;
		font-weight: 600;
	}
} ;
